h2{
	text-align: center;
}

ul{
	list-style-type: none;
	text-align: center;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: black;
}

ul a:hover {
	text-decoration: underline;
	color: #39a38d;
	font-weight: bold;
}

strong {
	font-size: 1.1em;
	color: #39a38d;
}

/* Mobile */
@media only screen and (max-width: 770px) {
  body {
    margin: auto;
    width: 85%;
    font-family: "Raleway", sans-serif;
    background-color: #e3f7f3; }

  h1 {
    font-family: "Cutive", serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: 5%; }

  nav {
    text-align: center;
    font-family: "Raleway", sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #39a38d;
    margin-bottom: 5%;
    border-radius: 20px; }

 nav a {
    background: #39a38d;
    color: #e3f7f3;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px; }

  #href1 {
    width: 90%;
    float: left;
    border: 4px solid #e3f7f3;
    border-radius: 20px; }

  #href2 {
    width: 90%;
    float: left;
    border: 4px solid #e3f7f3;
    border-radius: 20px; }

  #href3 {
    width: 90%;
    float: left;
    border: 4px solid #e3f7f3;
    border-radius: 20px; }

  #href4 {
    width: 90%;
    float: left;
    border: 4px solid #e3f7f3;
    border-radius: 20px; }
	
  #href5 {
    width: 90%;
    float: left;
    border: 4px solid #e3f7f3;
    border-radius: 20px;
    margin-bottom: 5%; }

  p {
    text-align: justify;
    width: 85%;
    margin: auto;
    padding: 2%; }

  img {
    width:100%;} }

/* Desktop */
@media only screen and (min-width: 770px) {
  body {
    margin: auto;
    width: 85%;
    font-family: "Raleway", sans-serif;
    background-color: white; }
	img{
		width: 92%;
		margin: auto;
		margin-bottom: 5%;
		margin-top: 2%;
	}
  h1 {
    font-family: "Cutive", serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: 5%; }

  p {
    text-align: justify;
    width: 100%; }

  #columnone {
    float: left;
    width: 40%;
    margin-right: 2%;
    margin-top: 5%;
    margin-left: 7%; }

  #columntwo {
    float: left;
    width: 40%;
    margin-right: 0px;
    margin-top: 5%; }

  nav a {
    transition: 0.3s ease;
    color: white;
    background: #39a38d;
    font-size: 1em;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px; }

  nav a:hover {
    font-size: 1.2em;
    font-family: "Cutive", serif;
    padding: 24px 10px;
    border-radius: 0px; }

  h1 {
    font-size: 2em; }

  nav {
    margin-top: 40px;
    padding: 24px;
    width: 85%;
    margin: auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #39a38d; }

  #href1 {
    border: none;
    float: none; }

  #href2 {
    float: none;
    border: none; }

  #href3 {
    float: none;
    border: none; }

  p {
    text-align: justify;
    width: 85%;
    margin: auto;
    padding: 2%; }

  img {
    display: block; } }
