@import url("https://fonts.googleapis.com/css?family=Lobster+Two:700|Raleway:500");
body {
  background: #fffaed;
  background: -webkit-linear-gradient(left top, #fffaed, #ffe99e);
  background: -o-linear-gradient(bottom right, #fffaed, #ffe99e);
  background: -moz-linear-gradient(bottom right, #fffaed, #ffe99e);
  background: linear-gradient(to bottom right, #fffaed, #ffe99e);
  color: #132621; }

h3 {
  text-align: center;
  font-size: 2.5em;
  border-top: solid #4f6343 2px;
  border-bottom: solid #4f6343 2px;
  padding-bottom: .1em;
  font-family: "Lobster Two", cursive;
  color: #ffbf19; }

p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Raleway", sans-serif; }

nav {
  width: 100%;
  background-color: #4f6343; }

a {
  color: #ffbf19; }

a:hover {
  color: #4f6343;
  background-color: #ffbf19; }

.active {
  background-color: #ffbf19;
  color: #4f6343; }
  .active a {
    color: #4f6343; }

.navbar-brand {
  font-family: "Lobster Two", cursive;
  font-size: 3em;
  color: #ffbf19;
  text-align: right; }

img {
  border-radius: 5px;
  width: 100%; }

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }

#myImg:hover {
  opacity: 0.7; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 70px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; }

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }

.footer {
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: #4f6343;
  color: white;
  font-size: 1.1em;
  height: 3em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 1em; }
  .footer a {
    color: white;
    text-decoration: underline; }
    .footer a :hover {
      color: #ffbf19;
      text-decoration: overline; }

.navbar-brand {
  color: #ffbf19 !important; }

.navbar-default {
  background-color: #4f6343 !important;
  border: none; }

.container-fluid {
  background-color: #4f6343 !important;
  border-radius: 5px; }

navbar, a {
  color: white !important; }

a:hover {
  text-decoration-line: underline; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a {
  background-color: #4f6343 !important;
  color: #ffbf19 !important;
  font-size: 1.3em; }

@media only screen and (max-width: 768px) {
  body {
    font-size: 95%;
    background: #fffaed;
    background: -webkit-linear-gradient(left top, #a7afa1, #747a6f);
    background: -o-linear-gradient(bottom right, #a7afa1, #747a6f);
    background: -moz-linear-gradient(bottom right, #a7afa1, #747a6f);
    background: linear-gradient(to bottom right, #a7afa1, #747a6f); } }
