@charset "utf-8";


@mixin gradient(){
    background: $light;
    background: -webkit-linear-gradient(left top, $light, $dark); 
    background: -o-linear-gradient(bottom right, $light, $dark); 
    background: -moz-linear-gradient(bottom right, $light, $dark); 
    background: linear-gradient(to bottom right, $light, $dark);
}

@mixin gradient2(){
    background: $light;
    background: -webkit-linear-gradient(left top, $light2, $dark2); 
    background: -o-linear-gradient(bottom right, $light2, $dark2); 
    background: -moz-linear-gradient(bottom right, $light2, $dark2); 
    background: linear-gradient(to bottom right, $light2, $dark2);
}

