$light: #fffaed;
$dark: #ffe99e;
$textcolor: #132621;
$headerfont:'Lobster Two', cursive;
$bodyfont:  'Raleway', sans-serif;
$headercolor: #ffbf19;
$darkgreen: #4f6343;
$light2: #a7afa1;
$dark2: #747a6f;

@import 'gradientMixin';
@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Raleway:500');

body {
	@include gradient;
	color: $textcolor;
}

h3{
	text-align: center;
	font-size:2.5em;
	border-top: solid $darkgreen 2px;
	border-bottom: solid $darkgreen 2px;
	padding-bottom: .1em;
	font-family: $headerfont;
	color: $headercolor;
	
}
p{
	text-align:justify;
	font-size: 1em;
	line-height: 1.5em;
	font-family: $bodyfont;
}

nav{
	width:100%;
	background-color: $darkgreen;
}

a {
	color:$headercolor;
}

a:hover {
	color: $darkgreen;
	background-color: $headercolor;
}

.active{
	background-color:$headercolor;
	color: $darkgreen;
	a{
		color:$darkgreen;
	}
}

.navbar-brand{
	font-family: $headerfont;
	font-size:3em;
	color: $headercolor;
	text-align:right;
}

img {
	border-radius: 5px;
	width: 100%;
}


//Image Modal

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.footer {
	text-align:center;
	font-family: $bodyfont;
	background-color: $darkgreen;
	color:white;
	font-size:1.1em;
	height: 3em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 1em;
	
	a {
		color: white;
		text-decoration:underline;
		:hover{
			color: $headercolor;
			text-decoration: overline;
		}
	}
	
}

//NAvigation styles

.navbar-brand{
	color: $headercolor !important;
}

.navbar-default {
	background-color: $darkgreen !important;
	border: none;
}

.container-fluid {
	background-color: $darkgreen !important;
	border-radius: 5px;
}

navbar, a {
	color:white !important;
	}
a:hover {
	text-decoration-line: underline;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a{
	background-color: $darkgreen !important;
	color: $headercolor !important;
	font-size:1.3em;

}


//Custom Media Queries
@media only screen and (max-width: 768px) {
    body {
        font-size: 95%;
		@include gradient2;
    }
}
